.level_header{
    @apply bg-white shadow-md font-semibold rounded-md border-slate-200 border-2
}

audio{
    background-color: white;
}

.limited-width-text {
    overflow-wrap: break-word;
    word-break: break-word;
}

.lime_button{
    @apply flex flex-row items-center px-3 py-2 font-medium text-center text-black bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 focus:ring-4 focus:outline-none focus:ring-lime-200 rounded-lg
}